<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        @*default layout을 설정함*@
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@*Router도 Component 방식으로 이루어진 간단한 c#파일에서 파생됨
  Found & Not Found도 RenderFragment 부분
  Router : www.naver.com/sports/55 같은 요청이 왔을 때, 
  어떤 페이지(Razor component)를 보여주는지 정하는 규칙
*@